.example-card {
  max-width: 400px;
  height: 460px;
  margin: 20px;
}

.example-header-image {
  background-image: url('https://s3.us-east-2.amazonaws.com/msi-xinye-static/hotel_icon.png');
  background-size: cover;
}
