
.col-md-6 {
  flex: 0 0 50%;
  max-width: 100%;
  margin-top: 20px;
}
.left {
  float:left;
  display:inline;
  margin-right: 50px;
}
.right {
  width: 600px;
  float:left;
  display:inline;
}
h2 {
  text-align: center;
  margin-top: 30px;
}
