.rooms-container {
  display: flex;
  flex-direction: row;
}

button {
  margin: 20px;
  height: 460px;
}
//
//.rooms-list-section {
//  flex: 0 1 70%;
//  margin: 20px;
//  .rooms-list-container {
//    display: flex;
//    flex-wrap: wrap;
//    .rooms-list-item {
//      margin-bottom: 20px;
//      text-decoration: none;
//      color: inherit;
//    }
//  }
//}
